/* @group reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* @end */

/* @group structure */

body {
	background: #fff;
	font: 65% "Verdana", Arial, sans-serif;
	width: 350px;
	margin: 0 19px 0 0;
}

#wrapper {
	/*width: 335px;
	margin: 0 auto;*/
}

/* @end */

/* @group header */

header {
	background: url(../images/header-bg.png) repeat-x 0 0;
	height: 45px;
	margin: 0 0 15px;
	overflow: hidden;
}

header h1 {
	float: left;
}

header h2 {
	float: right;
	margin: 25px 7px 0 0;
	color: #fff;
	font:  normal 1.3em sans-serif;
}

/* @end */

/* @group newReleases */

#newReleases {
	margin: 0 10px;
}

#newReleases article {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, rgb(51,51,51)), color-stop(0.68, rgb(71,71,70)));
	overflow: hidden;
	margin: 0 0 15px;
	padding: 15px;
	color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
}

#newReleases article:hover {
	-webkit-transform: scale(1.03);
	-webkit-box-shadow: 4px 4px 4px #d0d0d0;
	box-shadow: 4px 4px 4px #d0d0d0;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
}

#newReleases a:link, #newReleases a:active, #newReleases a:visited {
	text-decoration: none;
	color: #0187C5;
}

#newReleases a:hover {
	border-bottom: 1px solid #fff;
}

#newReleases article figure {
	float: left;
	width: 148px;
	margin: 0 20px 10px 0;
	position: relative;
}

#newReleases article figure a:hover {
	border: 0;
}

#newReleases article figure img.overlay {
	width: 148px;
	height: 132px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

#newReleases article figure img {
	margin: 3px 0px 0px 17px;
	width: 126px;
	height: 126px;
}

#newReleases h3 {
	font: normal 2.0em 'Merriweather', arial, serif;
	margin: 0 0 10px;
}

#newReleases h3 span {
	font: normal 0.6em 'Arial', sans-serif;
}

#newReleases h3 a:link, #newReleases h3 a:active, #newReleases h3 a:visited {
	color: #fff;
}

#newReleases article h4 {
	font: normal 1.3em sans-serif;
	margin: 0 0 8px;
}

#newReleases h4 a:link, #newReleases h4 a:active, #newReleases h4 a:visited {
	color: #ccc;
}

#newReleases article p {
	margin: 0 0 10px;
	line-height: 1.5;
}

#newReleases article .buyLinks img {
	margin: 0 3px 0 0;
}

#newReleases article .buyLinks a:hover {
	border: 0;
}

/* @end */

/* @group options */

form {
	overflow: hidden;
	margin: 0 0 25px;
	padding: 15px;
	color: #333;
}

form label {
	font: normal 2.0em 'Merriweather', arial, serif;
	margin: 0 0 10px;
}

form input[type="text"] {
	border: 2px solid #ccc;
	font: normal 1.7em 'Merriweather', arial, serif;
	margin: 0 0 10px;
	padding: 8px 10px;
	width: 310px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

form input[type="text"]:focus, form input[type="text"]:hover {
	border-color: #666;
}

form input[type="submit"] {
	background: #fff;
	font: normal 1.7em 'Merriweather', arial, serif;
	padding: 4px 6px;
	border: 2px solid #ccc;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
	cursor: pointer;
}

form input[type="submit"]:focus, form input[type="submit"]:hover {
	border-color: #666;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
}

/* @end */

/* @group footer */

footer {
	margin: 25px 0 0;
	background: #e3e3e3;
	color: #666;
	font-size: 0.7em;
	padding: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

footer a:link, footer a:active, footer a:visited {
	color: #333;
	text-decoration: none;
}

footer a:hover {
	color: #333;
	border-bottom: 1px solid #333;
}

/* @end */